<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iRMRaceList</key>
	<array>
		<dict>
			<key>iRMRaceName</key>
			<string>Human (Common)</string>
			<key>iRMRaceDisplayName</key>
			<string>Common Man</string>
			<key>iRMRaceDescription</key>
			<string></string>
			<key>iRMRaceStatBonus</key>
			<dict>
				<key>AG</key>
				<integer>0</integer>
				<key>CO</key>
				<integer>0</integer>
				<key>ME</key>
				<integer>0</integer>
				<key>RE</key>
				<integer>0</integer>
				<key>SD</key>
				<integer>2</integer>
				<key>EM</key>
				<integer>0</integer>
				<key>IN</key>
				<integer>0</integer>
				<key>PR</key>
				<integer>0</integer>
				<key>QU</key>
				<integer>0</integer>
				<key>ST</key>
				<integer>2</integer>
			</dict>
			<key>iRMRaceRRMods</key>
			<dict>
				<key>Essence</key>
				<integer>0</integer>
				<key>Channeling</key>
				<integer>0</integer>
				<key>Mentalism</key>
				<integer>0</integer>
				<key>Arcane</key>
				<integer>0</integer>
				<key>Psychic</key>
				<integer>0</integer>
				<key>Poison</key>
				<integer>0</integer>
				<key>Disease</key>
				<integer>0</integer>
				<key>Fear</key>
				<integer>0</integer>
				<key>Cold</key>
				<integer>0</integer>
				<key>Heat</key>
				<integer>0</integer>
				<key>Shock</key>
				<integer>0</integer>
				<key>Electricity</key>
				<integer>0</integer>
				<key>Vacuum</key>
				<integer>0</integer>
			</dict>
			<key>iRMRaceBodyDevelopment</key>
			<array>
				<integer>0</integer>
				<integer>6</integer>
				<integer>4</integer>
				<integer>2</integer>
				<integer>1</integer>
			</array>
			<key>iRMRacePPDevelopment</key>
			<dict>
				<key>Default</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
				</array>
				<key>Essence</key>
				<array>
					<integer>0</integer>
					<integer>6</integer>
					<integer>5</integer>
					<integer>4</integer>
					<integer>3</integer>
				</array>
				<key>Channeling</key>
				<array>
					<integer>0</integer>
					<integer>6</integer>
					<integer>5</integer>
					<integer>4</integer>
					<integer>3</integer>
				</array>
				<key>Mentalism</key>
				<array>
					<integer>0</integer>
					<integer>7</integer>
					<integer>6</integer>
					<integer>5</integer>
					<integer>4</integer>
				</array>
				<key>Arcane</key>
				<array>
					<integer>0</integer>
					<integer>6</integer>
					<integer>5</integer>
					<integer>4</integer>
					<integer>3</integer>
				</array>
			</dict>
			<key>iRMRaceMPDevelopment</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>iRMRaceSoulDeparture</key>
			<integer>12</integer>
			<key>iRMRaceRecoveryModifier</key>
			<integer>1</integer>
			<key>iRMRaceType</key>
			<integer>2</integer>
			<key>iRMRaceAdvanced</key>
			<dict>
				<key>iRMRaceArchitectLevel</key>
				<integer>1</integer>
				<key>iRMRaceSiegeLevel</key>
				<integer>1</integer>
				<key>iRMRaceTrapBuildingLevel</key>
				<integer>1</integer>
				<key>iRMRaceTechnologyLevel</key>
				<integer>6</integer>
				<key>iRMRaceLaborEffectiveness</key>
				<integer>1</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>
