<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iRMProfessionList</key>
	<array>
		<dict>
			<key>iRMProfessionName</key>
			<string>Criminal</string>
			<key>iRMProfessionDescription</key>
			<string>Criminals are masters of deciet and subtlety. The futuristic Criminal must also be a technical wizard as well. They must be able to hack a system or run a bypass better than any other person, or they&apos;re out of job. The futuristic Criminal must be a master of technology, at least as far as it relates to security systems.</string>
			<key>iRMProfessionRealms</key>
			<array>
				<string>Arms</string>
				<string>Subterfuge</string>
			</array>
			<key>iRMProfessionDevCost</key>
			<dict>
				<key>Armor • Heavy</key>
				<array>
					<integer>4</integer>
					<integer>4</integer>
					<integer>4</integer>
				</array>
				<key>Armor • Light</key>
				<array>
					<integer>2</integer>
					<integer>2</integer>
					<integer>2</integer>
				</array>
				<key>Armor • Medium</key>
				<array/>
				<key>Artistic • Active</key>
				<array/>
				<key>Artistic • Passive</key>
				<array/>
				<key>Athletic • Brawn</key>
				<array/>
				<key>Athletic • Endurance</key>
				<array/>
				<key>Athletic • Gymnastic</key>
				<array/>
				<key>Awareness • Perception</key>
				<array/>
				<key>Awareness • Searching</key>
				<array/>
				<key>Awareness • Senses</key>
				<array/>
				<key>Body Development</key>
				<array/>
				<key>Combat Maneuvers</key>
				<array/>
				<key>Communications</key>
				<array/>
				<key>Crafts</key>
				<array/>
				<key>Directed Spells</key>
				<array/>
				<key>Influence</key>
				<array/>
				<key>Lore • Academic</key>
				<array/>
				<key>Lore • General</key>
				<array/>
				<key>Lore • Magical</key>
				<array/>
				<key>Lore • Obscure</key>
				<array/>
				<key>Lore • Technical</key>
				<array/>
				<key>Martial Arts • Combat Maneuvers</key>
				<array/>
				<key>Martial Arts • Striking</key>
				<array/>
				<key>Martial Arts • Sweeps</key>
				<array/>
				<key>Mind Point Development</key>
				<array/>
				<key>Outdoor • Animal</key>
				<array/>
				<key>Outdoor • Environmental</key>
				<array/>
				<key>Power Awareness</key>
				<array/>
				<key>Power Manipulation</key>
				<array/>
				<key>Power Point Development</key>
				<array/>
				<key>Psychic • Category 1</key>
				<array/>
				<key>Psychic • Category 2</key>
				<array/>
				<key>Psychic • Category 3</key>
				<array/>
				<key>Psychic • Category 4</key>
				<array/>
				<key>Psychic • Category 5</key>
				<array/>
				<key>Psychic • Category 6+</key>
				<array/>
				<key>Science/Analytic • Basic</key>
				<array/>
				<key>Science/Analytic • Engineering</key>
				<array/>
				<key>Science/Analytic • Medical</key>
				<array/>
				<key>Science/Analytic • Specialized</key>
				<array/>
				<key>Science/Analytic • Technical</key>
				<array/>
				<key>Self Control</key>
				<array/>
				<key>Special Attacks</key>
				<array/>
				<key>Special Defences</key>
				<array/>
				<key>Subterfuge • Attack</key>
				<array/>
				<key>Subterfuge • Mechanics</key>
				<array/>
				<key>Subterfuge • Stealth</key>
				<array/>
				<key>Technical/Trade • General</key>
				<array/>
				<key>Technical/Trade • Gunnery</key>
				<array/>
				<key>Technical/Trade • Professional</key>
				<array/>
				<key>Technical/Trade • Vehicles</key>
				<array/>
				<key>Technical/Trade • Vocational</key>
				<array/>
				<key>Urban</key>
				<array/>
				<key>Weapon • Category 1</key>
				<array/>
				<key>Weapon • Category 2</key>
				<array/>
				<key>Weapon • Category 3</key>
				<array/>
				<key>Weapon • Category 4</key>
				<array/>
				<key>Weapon • Category 5</key>
				<array/>
				<key>Weapon • Category 6</key>
				<array/>
				<key>Weapon • Category 7</key>
				<array/>
				<key>Weapon • Category 8</key>
				<array/>
				<key>Weapon • Category 9</key>
				<array/>
				<key>Weapon • Category 10</key>
				<array/>
				<key>Weapon • Category 11</key>
				<array/>
				<key>Weapon • Category 12</key>
				<array/>
			</dict>
			<key>iRMProfessionPrimeStats</key>
			<array>
				<string>AG</string>
				<string>QU</string>
			</array>
			<key>iRMProfessionBonus</key>
			<dict/>
			<key>iRMProfessionEverymanSkills</key>
			<dict/>
			<key>iRMProfessionOccupationSkills</key>
			<dict/>
			<key>iRMProfessionRestrictedSkills</key>
			<dict/>
		</dict>
	</array>
</dict>
</plist>
