<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iRMSkillCategoryList</key>
	<array>
		<dict>
			<key>iRMSkillCategoryStats</key>
			<array>
				<string>ST</string>
				<string>AG</string>
				<string>ST</string>
			</array>
			<key>iRMisCombatSkill</key>
			<true/>
			<key>iRMSkillCategoryDescription</key>
			<string></string>
			<key>iRMSkillProgress</key>
			<array>
				<integer>-15</integer>
				<integer>3</integer>
				<integer>2</integer>
				<integer>1</integer>
				<real>0.5</real>
			</array>
			<key>iRMSkillList</key>
			<array>
				<dict>
					<key>iRMSkillManeuverType</key>
					<string>MM</string>
					<key>iRMSkillDescription</key>
					<string>Rigid armor of metal plates and the heaviest animal hides</string>
					<key>iRMSkillDistanceMultiplyer</key>
					<integer>1</integer>
					<key>iRMSkillName</key>
					<string>Plate Armor</string>
					<key>iRMSkillSpecialization</key>
					<false/>
					<key>iRMSkillExhaustion</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>iRMSkillManeuverType</key>
					<string>MM</string>
					<key>iRMSkillDescription</key>
					<string>This type of armor mimics older, more archaic plate armor. It is made from a hardened composite shell. It relatively lightweight, and is efficient both at energy dispersal and projectile deflection. It is designed soecifically to foil energy weapons. These armors are the only type designed specifically to be used with armor add-ons.</string>
					<key>iRMSkillDistanceMultiplyer</key>
					<integer>1</integer>
					<key>iRMSkillName</key>
					<string>Combat Armor</string>
					<key>iRMSkillSpecialization</key>
					<false/>
					<key>iRMSkillExhaustion</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>iRMSkilDescription</key>
					<string>Powered armor can be handled in different ways, depending on the size of the armor. If the armor is relatively light, than simply treat as a normal aror. Heavy mechanical suits are beyond the scope of this work.</string>
					<key>iRMSkillManeuverType</key>
					<string>MM</string>
					<key>iRMSkillExhaustion</key>
					<integer>0</integer>
					<key>iRMSkillDistanceMultiplyer</key>
					<integer>1</integer>
					<key>iRMSkillName</key>
					<string>Powered (Assault) Armor</string>
					<key>iRMSkillSpecialization</key>
					<false/>
				</dict>
			</array>
			<key>iRMSkillCategoryProgress</key>
			<array>
				<integer>-15</integer>
				<integer>2</integer>
				<integer>1</integer>
				<real>0.5</real>
				<integer>0</integer>
			</array>
			<key>iRMSkillGroup</key>
			<string>Armor</string>
			<key>iRMSkillCategoryName</key>
			<string>Armor • Heavy</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Armor • Light</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Armor • Medium</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Artistic • Active</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Artistic • Passive</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Athletic • Brawn</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Athletic • Endurance</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Athletic • Gymnastic</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Awareness • Perception</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Awareness • Searching</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Awareness • Senses</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Body Development</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Combat Maneuvers</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Communications</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Crafts</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Directed Spells</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Influence</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Lore • Academic</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Lore • General</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Lore • Magical</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Lore • Obscure</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Lore • Technical</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Martial Arts • Combat Maneuvers</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Martial Arts • Striking</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Martial Arts • Sweeps</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Mind Point Development</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Outdoor • Animal</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Outdoor • Environmental</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Power Awareness</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Power Manipulation</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Power Point Development</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Psychic • Electrokinesis</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Psychic • Healing</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Psychic • Meta-Psi</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Psychic • Mind Over Matter</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Psychic • Photokinesis</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Psychic • Psychokinesis</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Psychic • Radiokinesis</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Psychic • Telepathy</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Psychic • Thermokinesis</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Science/Analytic • Basic</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Science/Analytic • Engineering</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Science/Analytic • Medical</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Science/Analytic • Specialized</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Science/Analytic • Technical</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Self Control</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Special Attacks</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Special Defences</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Subterfuge • Attack</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Subterfuge • Mechanics</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Subterfuge • Stealth</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Technical/Trade • General</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Technical/Trade • Gunnery</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Technical/Trade • Professional</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Technical/Trade • Vehicles</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Technical/Trade • Vocational</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Urban</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Weapon • 1-H Concussion</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Weapon • 1-H Edged</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Weapon • 1-H Energy</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Weapon • 1-H Firearms</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Weapon • 2-Handed</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Weapon • 2-H Energy</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Weapon • 2-H Firearms</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Weapon • Missile</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Weapon • Missile Artillery</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Weapon • Pole Arms</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Weapon • Support</string>
		</dict>
		<dict>
			<key>iRMSkillCategoryName</key>
			<string>Weapon • Thrown</string>
		</dict>
	</array>
</dict>
</plist>
